* {
    margin: 0;
    font-family: "Lato", sans-serif;
    font-style: normal;
}

body {
    overflow-x: hidden;
}
header {
    color: white;
    background-color: rgb(20, 20, 20);
    width: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo {
    margin: 10px;
    border-radius: 20%;
    height: 80px;
}
#HeadLogo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#HeadLogo > h1 {
    font-size: 2vh;
}

#Account > img {
    height: 50px;
    border-radius: 100%;
    border: 2px solid white;
}
#backImage {
    background-image: url(BackImage.jpg);
    background-position: center;
}
#backImage p {
    background-color: rgba(240, 248, 255, 0.5);
    padding: 50px;
}
#backImage > div {
    font-weight: 380;
    font-size: 4vh;
    text-align: center;
    padding: 20vh 0px;
    margin: 0px 20vw;
}
h2 {padding: 10px;
    text-align: center;}

#Container {
    padding: 10px 2vw;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.woj {
    flex-direction: column;
    display: flex;
    text-align: center;
    color: white;
    margin: 50px;
    width: 500px;
    height: 25vh;
    background-color: rgb(36, 36, 36);
    align-items: center;
    justify-content: center;
}

#faq {
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid rgb(0, 0, 0);
    height: auto;
    width: 80vw;
}

footer {
    font-size: small;
    color: white;
    background-color: rgb(20, 20, 20);
    display: flex;
    justify-content: space-around;
}

.FaqButton {
    display: flex;
    font-size: large;
    align-items: center;
    padding: 4px;
    height: 6vh;
    background-color: rgb(245, 245, 245);
}

.QuestionMore {
    display: none;
}

.FaqButton + .QuestionMore {
    padding: 10px;
}

.FaqButton > img {
    height: 35%;
    margin: 10px;
}